*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(45deg,#c31432,#240b36);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.clock{
    width: 300px;
    height: 200px;
    background: rgba(255, 255,255,0.08);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255,0.40);
    box-shadow: 0px 4px 15px rgba(0,0,0,0.02);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#hrs::after{
    content: "HOURS";
    font-size: 16px;
    position: absolute;
    bottom: 52px;
    left: 60px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#mins::after{
    content: "MINS";
    font-size: 16px;
    position: absolute;
    bottom: 52px;
    left: 132px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#secs::after{
    content: "SECS";
    font-size: 16px;
    position: absolute;
    bottom: 52px;
    left: 197px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
   color: white;
   margin-bottom: 40px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}